<a href="https://colab.research.google.com/github/alenready/A1/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
!pip install pandas
import numpy as np
import matplotlib.pyplot as plt
data=pd.read_csv('/content/Students_Performance.csv')
data

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [2]:
data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [3]:
data.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     66.001000      69.195000      68.119000
std      15.569567      14.706436      15.226381
min       0.000000      17.000000      10.000000
25%      57.000000      59.000000      58.000000
50%      66.000000      70.000000      69.000000
75%      77.000000      79.250000      79.000000
max     100.000000     100.000000     100.000000

In [4]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

**a. Find out how many males and females participated in the test?**

In [6]:
# prompt: count male and female participated in the test

gender_counts = data['gender'].value_counts()
male_count = gender_counts['male']
female_count = gender_counts['female']
print(f"Number of males:", male_count)
print(f"Number of females:",female_count)

Number of males: 482
Number of females: 518

# b. What do you think about the students' parental level of education ?

In [26]:

# Calculate the number of students for each level of parental education
parental_education_counts = data['parental level of education'].value_counts()

# Calculate the percentage of students for each level of parental education
parental_education_percentages = 100 * parental_education_counts / len(data)

# Print the results
print("Number of students for each level of parental education:")
print(parental_education_counts)
print("\nPercentage of students for each level of parental education:")
print(parental_education_percentages)

# Calculate the mean, standard deviation, minimum, maximum, and quartiles for parental education
parental_education_statistics = data['parental level of education'].describe()

# Print the results
print("\nStatistics for parental level of education:")
print(parental_education_statistics)

Number of students for each level of parental education:
parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

Percentage of students for each level of parental education:
parental level of education
some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: count, dtype: float64

Statistics for parental level of education:
count             1000
unique               6
top       some college
freq               226
Name: parental level of education, dtype: object

***c. Who scores the most on average for math, reading and
writing based on
i. Gender
ii. Test preparation courseitalicized text***

In [27]:
# prompt: who scores most on math ,reading score writing score

# Group data by gender and calculate mean scores for each subject
grouped_data = data.groupby('gender')[['math score', 'reading score', 'writing score']].mean()

# Find the gender with the highest average score for each subject
highest_math_score_gender = grouped_data['math score'].idxmax()
highest_reading_score_gender = grouped_data['reading score'].idxmax()
highest_writing_score_gender = grouped_data['writing score'].idxmax()

# Print the results
print(f"Gender with the highest average math score: {highest_math_score_gender}")
print(f"Gender with the highest average reading score: {highest_reading_score_gender}")
print(f"Gender with the highest average writing score: {highest_writing_score_gender}")

Gender with the highest average math score: male
Gender with the highest average reading score: female
Gender with the highest average writing score: female

In [11]:
# prompt: who scores most on average for math ,reading score and writing score based on test preparation course

grouped_data_test_prep = data.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()

highest_math_score_test_prep = grouped_data_test_prep['math score'].idxmax()
highest_reading_score_test_prep = grouped_data_test_prep['reading score'].idxmax()
highest_writing_score_test_prep = grouped_data_test_prep['writing score'].idxmax()

print(f"Test preparation course with the highest average math score: {highest_math_score_test_prep}")
print(f"Test preparation course with the highest average reading score: {highest_reading_score_test_prep}")
print(f"Test preparation course with the highest average writing score: {highest_writing_score_test_prep}")

Test preparation course with the highest average math score: completed
Test preparation course with the highest average reading score: completed
Test preparation course with the highest average writing score: completed

# Test preparation course with the highest average math score: completed    Test preparation course with the highest average reading score: completed   Test preparation course with the highest average writing score: completed

In [12]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [48]:
# prompt: group data by gender and math, reading and writing

grouped_data = data.groupby('gender')[['math score', 'reading score', 'writing score']]

# Calculate the mean for each subject group
average_scores = grouped_data.mean()

# Print the average scores for each gender
print(average_scores)

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

In [14]:
grouped_datamean = data.groupby('gender')[['math score', 'reading score', 'writing score']].mean().unstack()
grouped_datamean

               gender
math score     female    63.376448
               male      68.821577
reading score  female    72.590734
               male      65.545643
writing score  female    72.467181
               male      63.446058
dtype: float64

# d. What do you think about the scoring variation for math, reading and writing based on i. Gender ii. Test preparation course

In [15]:
# prompt: statistical analysis for scoring variation

import pandas as pd

# Calculate the standard deviation for each subject
std_math = data['math score'].std()
std_reading = data['reading score'].std()
std_writing = data['writing score'].std()

# Calculate the coefficient of variation for each subject
cv_math = std_math / data['math score'].mean()
cv_reading = std_reading / data['reading score'].mean()
cv_writing = std_writing / data['writing score'].mean()

# Print the results
print(f"Standard deviation for math: {std_math}")
print(f"Standard deviation for reading: {std_reading}")
print(f"Standard deviation for writing: {std_writing}")
print(f"Coefficient of variation for math: {cv_math}")
print(f"Coefficient of variation for reading: {cv_reading}")
print(f"Coefficient of variation for writing: {cv_writing}")

Standard deviation for math: 15.569566802272002
Standard deviation for reading: 14.706435810700505
Standard deviation for writing: 15.226381109169758
Coefficient of variation for math: 0.2358989530805897
Coefficient of variation for reading: 0.21253610536455678
Coefficient of variation for writing: 0.22352619840528717

In [42]:
# prompt: analyse the scoring varion based on gender
!pip install scipy
import scipy

# Group data by gender and calculate the variance for each subject
grouped_data_variance = data.groupby('gender')[['math score', 'reading score', 'writing score']].var()

# Print the results
print('\n\n\n',grouped_data_variance)

# Calculate the F-statistic for each subject
f_statistic_math = grouped_data_variance['math score'][0] / grouped_data_variance['math score'][1]
f_statistic_reading = grouped_data_variance['reading score'][0] / grouped_data_variance['reading score'][1]
f_statistic_writing = grouped_data_variance['writing score'][0] / grouped_data_variance['writing score'][1]

# Print the results
print('\n\n'f"F-statistic for math: {f_statistic_math}")
print(f"F-statistic for reading: {f_statistic_reading}")
print(f"F-statistic for writing: {f_statistic_writing}")

# Calculate the p-value for each subject
p_value_math = 1 - scipy.stats.f.cdf(f_statistic_math, grouped_data_variance['math score'][0], grouped_data_variance['math score'][1])
p_value_reading = 1 - scipy.stats.f.cdf(f_statistic_reading, grouped_data_variance['reading score'][0], grouped_data_variance['reading score'][1])
p_value_writing = 1 - scipy.stats.f.cdf(f_statistic_writing, grouped_data_variance['writing score'][0], grouped_data_variance['writing score'][1])

# Print the results
print('\n\n'f"p-value for math: {p_value_math}")
print(f"p-value for reading: {p_value_reading}")
print(f"p-value for writing: {p_value_writing}")

Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (1.11.4)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /usr/local/lib/python3.10/dist-packages (from scipy) (1.25.2)



         math score  reading score  writing score
gender
female  256.958593     207.677438     220.369327
male    211.889097     200.211010     202.413924


F-statistic for math: 1.2127032345616438
F-statistic for reading: 1.0372927945267316
F-statistic for writing: 1.0887063624138187


p-value for math: 0.07240355222190642
p-value for reading: 0.3973599946885237
p-value for writing: 0.2695586159366068

In [43]:
# prompt:   Statistics on scoring variation for math, reading and writing based on  Test preparation course

# Group data by test preparation course and calculate the variance for each subject
grouped_data_variance_test_prep = data.groupby('test preparation course')[['math score', 'reading score', 'writing score']].var()

# Print the results
print(grouped_data_variance_test_prep)

# Calculate the F-statistic for each subject
f_statistic_math_test_prep = grouped_data_variance_test_prep['math score'][0] / grouped_data_variance_test_prep['math score'][1]
f_statistic_reading_test_prep = grouped_data_variance_test_prep['reading score'][0] / grouped_data_variance_test_prep['reading score'][1]
f_statistic_writing_test_prep = grouped_data_variance_test_prep['writing score'][0] / grouped_data_variance_test_prep['writing score'][1]
# Print the results
print(f"\nF-statistic for math: {f_statistic_math_test_prep}")
print(f"F-statistic for reading: {f_statistic_reading_test_prep}")
print(f"F-statistic for writing: {f_statistic_writing_test_prep}")

# Calculate the p-value for each subject
p_value_math_test_prep = 1 - scipy.stats.f.cdf(f_statistic_math_test_prep, grouped_data_variance_test_prep['math score'][0], grouped_data_variance_test_prep['math score'][1])
p_value_reading_test_prep = 1 - scipy.stats.f.cdf(f_statistic_reading_test_prep, grouped_data_variance_test_prep['reading score'][0], grouped_data_variance_test_prep['reading score'][1])
p_value_writing_test_prep = 1 - scipy.stats.f.cdf(f_statistic_writing_test_prep, grouped_data_variance_test_prep['writing score'][0], grouped_data_variance_test_prep['writing score'][1])

# Print the results
print('\n\n'f"p-value for math: {p_value_math_test_prep}")
print(f"p-value for reading: {p_value_reading_test_prep}")
print(f"p-value for writing: {p_value_writing_test_prep}")

                         math score  reading score  writing score
test preparation course
completed                210.884027     183.265864     175.202612
none                     246.668662     213.419851     226.251739

F-statistic for math: 0.8549283313932278
F-statistic for reading: 0.8587104848425934
F-statistic for writing: 0.7743702338053879


p-value for math: 0.8797967215356454
p-value for reading: 0.8558793776018075
p-value for writing: 0.962165406947194

Therefore, based on these results, we can conclude that there is not enough evidence to suggest that the test preparation course had a significant effect on math, reading, or writing scores.Since the p-value is greater than significance level of 0.05, we fail to reject null hypothesis

# e. The management needs your help to give bonus points to the top 25% of students based on their math score,so how will you help the management to achieve thisNew Section

In [21]:
# prompt: to find the top 25% scoring in maths

# Calculate the 75th percentile of the math scores
math_75th_percentile = data['math score'].quantile(0.75)

# Select students with math scores above the 75th percentile
top_25_math_students = data[data['math score'] > math_75th_percentile]

# Print the top 25% of students in math
print("Top 25% of students in math:")
print(top_25_math_students)

Top 25% of students in math:
     gender race/ethnicity parental level of education         lunch  \
430  female        group A                some college      standard
431  female        group B           bachelor's degree  free/reduced
432  female        group D           bachelor's degree      standard
433  female        group D                 high school      standard
434  female        group D           bachelor's degree  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
430               completed          78             87             91
431                    none          78             79             76
432                    none          78             82             79
433                    none          78             81             80
434                    none          78             90             93
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[231 rows x 8 columns]

In [24]:
top_25_math_students.shape[0]

231

In [23]:
# prompt: display  fully these 231 students

print(top_25_math_students.to_string())

     gender race/ethnicity parental level of education         lunch test preparation course  math score  reading score  writing score
430  female        group A                some college      standard               completed          78             87             91
431  female        group B           bachelor's degree  free/reduced                    none          78             79             76
432  female        group D           bachelor's degree      standard                    none          78             82             79
433  female        group D                 high school      standard                    none          78             81             80
434  female        group D           bachelor's degree  free/reduced                    none          78             90             93
435  female        group D             master's degree      standard                    none          78             91             96
436  female        group B                some college      standard                    none          79             86             92
437  female        group C           bachelor's degree      standard               completed          79             92             89
438  female        group D                some college      standard                    none          79             86             81
439  female        group D           bachelor's degree      standard                    none          79             89             89
440  female        group D                some college  free/reduced                    none          79             89             86
441  female        group D                some college      standard               completed          79             84             91
442  female        group E          associate's degree      standard               completed          79             88             94
443  female        group E           bachelor's degree      standard               completed          79             81             82
444  female        group B          associate's degree      standard                    none          80             86             83
445  female        group D                some college      standard                    none          80             90             89
446  female        group D            some high school      standard                    none          80             90             82
447  female        group D            some high school      standard               completed          80             92             88
448  female        group E           bachelor's degree      standard                    none          80             83             83
449  female        group E            some high school      standard               completed          80             85             85
450  female        group B                 high school      standard                    none          81             91             89
451  female        group C             master's degree      standard               completed          81             91             87
452  female        group C           bachelor's degree      standard                    none          81             88             90
453  female        group C          associate's degree      standard                    none          81             77             79
454  female        group C                 high school      standard                    none          81             84             82
455  female        group D            some high school      standard                    none          81             97             96
456  female        group E             master's degree      standard                    none          81             92             91
457  female        group E             master's degree  free/reduced                    none          81             86             87
458  female        group A          associate's degree      standard                    none          82             93             93
459  female        group B          associate's degree      standard                    none          82             80             77
460  female        group B            some high school      standard                    none          82             82             80
461  female        group B                some college      standard                    none          82             85             87
462  female        group C                some college      standard                    none          82             90             94
463  female        group C          associate's degree  free/reduced               completed          82             93             93
464  female        group D                some college      standard               completed          82             97             96
465  female        group D          associate's degree      standard                    none          82             95             89
466  female        group E          associate's degree      standard               completed          82             85             86
467  female        group C           bachelor's degree      standard                    none          83             93             95
468  female        group C          associate's degree      standard               completed          83             85             90
469  female        group C                some college      standard                    none          83             83             90
470  female        group E          associate's degree  free/reduced               completed          83             86             88
471  female        group C                some college      standard                    none          84             87             91
472  female        group E          associate's degree      standard                    none          84             95             92
473  female        group A            some high school      standard               completed          85             90             92
474  female        group C            some high school      standard               completed          85             92             93
475  female        group C          associate's degree      standard                    none          85             89             95
476  female        group C          associate's degree      standard                    none          85             84             82
477  female        group D          associate's degree      standard                    none          85             91             89
478  female        group D             master's degree  free/reduced               completed          85             95            100
479  female        group D                some college      standard               completed          85             86             98
480  female        group E          associate's degree      standard                    none          85             92             85
481  female        group C           bachelor's degree      standard                    none          86             92             87
482  female        group E                some college      standard               completed          86             85             91
483  female        group B                 high school      standard                    none          87             95             86
484  female        group C                some college      standard               completed          87             89             94
485  female        group D             master's degree      standard                    none          87            100            100
486  female        group E          associate's degree      standard                    none          87             94             95
487  female        group E                some college      standard                    none          87             85             93
488  female        group B                some college      standard               completed          88             95             92
489  female        group C                some college      standard               completed          88             93             93
490  female        group C                some college      standard               completed          88             95             94
491  female        group D          associate's degree      standard               completed          88             92             95
492  female        group D                 high school      standard               completed          88             99            100
493  female        group E             master's degree      standard               completed          88             99             95
494  female        group D           bachelor's degree      standard                    none          89            100            100
495  female        group B             master's degree      standard                    none          90             95             93
496  female        group B          associate's degree      standard               completed          90             90             91
497  female        group C          associate's degree      standard                    none          91             86             84
498  female        group C          associate's degree      standard                    none          91             95             94
499  female        group A            some high school      standard               completed          92            100             97
500  female        group C           bachelor's degree      standard               completed          92            100             99
501  female        group D             master's degree      standard                    none          92            100            100
502  female        group E           bachelor's degree  free/reduced               completed          92            100            100
503  female        group D           bachelor's degree  free/reduced               completed          93            100            100
504  female        group E          associate's degree      standard               completed          93            100             95
505  female        group B          associate's degree      standard               completed          94             87             92
506  female        group E             master's degree      standard               completed          94             99            100
507  female        group E          associate's degree      standard               completed          95             89             92
508  female        group C           bachelor's degree      standard               completed          96            100            100
509  female        group C          associate's degree      standard               completed          96             96             99
510  female        group B           bachelor's degree      standard                    none          97             97             96
511  female        group D            some high school      standard               completed          97            100            100
512  female        group D                some college      standard                    none          98            100             99
513  female        group E           bachelor's degree      standard               completed          99            100            100
514  female        group E                 high school      standard                    none          99             93             90
515  female        group E                some college      standard                    none         100             92             97
516  female        group E           bachelor's degree      standard                    none         100            100            100
517  female        group E          associate's degree      standard                    none         100            100            100
857    male        group A                some college      standard               completed          78             72             70
858    male        group B                 high school      standard               completed          78             69             67
859    male        group C          associate's degree  free/reduced               completed          78             81             82
860    male        group C          associate's degree      standard               completed          78             77             77
861    male        group C            some high school      standard               completed          78             72             69
862    male        group D                 high school  free/reduced               completed          78             77             80
863    male        group D            some high school      standard               completed          78             81             86
864    male        group E            some high school  free/reduced               completed          78             83             80
865    male        group E          associate's degree  free/reduced               completed          78             74             72
866    male        group A            some high school  free/reduced                    none          79             82             73
867    male        group A          associate's degree  free/reduced               completed          79             82             82
868    male        group B                some college      standard                    none          79             67             67
869    male        group B                 high school      standard                    none          79             60             65
870    male        group B            some high school      standard               completed          79             85             86
871    male        group C                some college      standard               completed          79             79             78
872    male        group C             master's degree  free/reduced                    none          79             81             71
873    male        group C             master's degree      standard                    none          79             78             77
874    male        group C             master's degree      standard                    none          79             72             69
875    male        group C            some high school  free/reduced                    none          79             76             65
876    male        group C             master's degree  free/reduced               completed          79             77             75
877    male        group D                some college      standard                    none          79             73             67
878    male        group D          associate's degree  free/reduced               completed          79             82             80
879    male        group E           bachelor's degree  free/reduced               completed          79             74             72
880    male        group A           bachelor's degree      standard               completed          80             78             81
881    male        group B          associate's degree      standard                    none          80             76             64
882    male        group C                some college  free/reduced                    none          80             64             66
883    male        group D            some high school  free/reduced               completed          80             79             79
884    male        group D          associate's degree      standard                    none          80             75             77
885    male        group D             master's degree      standard                    none          80             80             72
886    male        group D          associate's degree      standard                    none          80             68             72
887    male        group D          associate's degree      standard                    none          80             63             63
888    male        group D           bachelor's degree      standard                    none          80             73             72
889    male        group D          associate's degree      standard                    none          80             75             69
890    male        group E                 high school      standard                    none          80             76             65
891    male        group A                some college  free/reduced               completed          81             78             81
892    male        group B          associate's degree      standard               completed          81             82             82
893    male        group B          associate's degree      standard                    none          81             73             72
894    male        group C                 high school      standard                    none          81             66             64
895    male        group D          associate's degree      standard               completed          81             72             77
896    male        group D          associate's degree  free/reduced                    none          81             75             78
897    male        group D             master's degree      standard                    none          81             81             84
898    male        group D          associate's degree      standard                    none          81             71             73
899    male        group D                some college      standard                    none          81             82             84
900    male        group D            some high school      standard                    none          81             78             78
901    male        group E          associate's degree      standard               completed          81             81             79
902    male        group E                 high school      standard               completed          81             80             76
903    male        group E                some college      standard               completed          81             74             71
904    male        group E            some high school      standard               completed          81             75             76
905    male        group B          associate's degree  free/reduced               completed          82             78             74
906    male        group B          associate's degree      standard               completed          82             84             78
907    male        group B                 high school      standard                    none          82             82             80
908    male        group C                 high school      standard               completed          82             84             82
909    male        group C          associate's degree      standard               completed          82             75             77
910    male        group D             master's degree      standard                    none          82             82             74
911    male        group D                some college      standard               completed          82             82             88
912    male        group E           bachelor's degree      standard                    none          82             62             62
913    male        group E            some high school      standard                    none          82             67             61
914    male        group C           bachelor's degree      standard               completed          83             82             84
915    male        group C           bachelor's degree      standard                    none          83             78             73

In [18]:
data.shape[0]

1000